html {
    background-color: none;
}

body {
    font-family: 'Roboto',sans-serif;
    font-weight: 100 !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+41,000000+97 */
background: #ffffff; /* Old browsers */
/*opacity: .5;*/
/*background: -moz-linear-gradient(top,  #ffffff 41%, #000000 97%); */
/* FF3.6-15*/
/*background: -webkit-linear-gradient(top,  #ffffff 41%,#000000 97%); */
/* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  #ffffff 41%,#000000 97%); */
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); */
/* IE6-9 */
}

path.line {
  fill: whitesmoke;
  stroke: black;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

circle{
    stroke:none;
}

section#contact {
    /*width: auto;
    height: auto;
    margin: 0 auto;*/
    position: fixed !important;
}

svg {
    background-color: none;
    stroke: none;
    stroke-width: none;
    position: fixed;
    top: 0px;
    left: 0pxl
}

h6,h5,h2{
    color: black;
    font-weight: 100;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    letter-spacing: 2em;
    padding-left: 30vw;
}

h1 {
    color: black;
    font-size: 3em;
    font-weight: 300;
    letter-spacing: -.1em;
    padding-left: 20vw;
    text-transform: uppercase;
}

h3 {
    font-weight: 100;
}

div#cp2 {
    position: fixed;

    bottom: 20px;;
    left: 20px;
}


div.blank {
    width: auto;
    height: 50px;
}

a.btn-floating {
    margin: 3px;
}

a.btn {
    margin: 2px;;
}

.btn, .btn-large, .btn-flat {
    padding: 0 .5rem !important;

 }

 a.btn.amber {color: grey }
  a.btn.cyan {color: grey }
   a.btn.grey {color: grey }
    a.btn.transparent {color: grey }



p.instruct {
    font-size: 1.5em;
    padding-top: 10px;
}

#radios {
    /*position: fixed;
    top: 20px;
    right: 20px;*/
}

.label {
    font-weight: 100;
    color: black;
}

div.colorpicker-alpha{
    visibility: hidden;
}

a.git, a:link {
    color: grey;
}

a.git:hover, a:hover {
    color: maroon;
    text-decoration: none;

}


.colorpicker .colorpicker-saturation {
  width: 50px;
  height: 50px;
}
.colorpicker .colorpicker-hue,
.colorpicker .colorpicker-alpha {
  width: 10px;
  height: 50px;
}
.colorpicker .colorpicker-color,
.colorpicker .colorpicker-color div{
  height: 10px;
}

.colorpicker.colorpicker-with-alpha {
    min-width: 80px !important;
}

svg {
    margin-left: 50px;
}

section {
    height: 300px;
    width: auto;
}

span.high {
    transition: color 1.5s;
    -webkit-transition: color 1.5s;

}

span.high:hover{
    color: whitesmoke;
}

.st0{fill:#E1E9E2;}
.st1{fill:#D6DDD2;}
.st2{fill:#452A29;}
.st3{fill:#784848;}
.st4{fill:#BB4946;}
.st5{fill:#D4928F;}

/*Added extra for ch pic*/
.st6{fill:#4874fb;}
.st7{fill:#52b0f5;}
/*.text {
  writing-mode: vertical-rl;
  letter-spacing: .5em;
  line-height: 1.2em;
  text-orientation: upright;
}*/
