html {

}

body {
    font-family: 'Roboto',sans-serif;
    font-weight: 100 !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+41,000000+97 */
    background: #3388b3; /* Old browsers */
    color: #3388b3;
    /*opacity: .5;*/
    /*background: -moz-linear-gradient(top,  #ffffff 41%, #000000 97%); */
    /* FF3.6-15*/
    /*background: -webkit-linear-gradient(top,  #ffffff 41%,#000000 97%); */
    /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  #ffffff 41%,#000000 97%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); */
    /* IE6-9 */
}

path.line {
  fill: whitesmoke;
  stroke: black;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

circle{
    stroke:none;
}

section#contact {
    /*width: auto;
    height: auto;
    margin: 0 auto;*/
    position: fixed !important;
}

svg {
    background-color: none;
    stroke: none;
    stroke-width: none;
    position: fixed;
    top: 0px;
    left: 0pxl
}

.top {
position: fixed;
top: 20vh;
z-index: 999;
pointer-events: none;

}

h6,h5,h2{

    color: black;
    font-weight: 300;
    /*writing-mode: vertical-rl;*/
    /*text-orientation: sideways-right;*/
    letter-spacing: .5em;
    line-height: 1.8em;
    padding-left: 30vw;

}



h1 {
    pointer-events: all;
    color: black;
    margin-bottom: -25px !important;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: -.1em;
    /*padding-left: 20vw;*/
    text-transform: uppercase;
    transition: all 1.5s;
}

/*h1:hover{
  letter-spacing: 1em;
  /*font-weight: 300;*/
  font-size: 2em;
  line-height: -1em;
  text-orientation: upright;
}*/


h3 {
    font-weight: 100;
}

#radios {
    /*position: fixed;
    top: 20px;
    right: 20px;*/
}

.label {
    font-weight: 100;
    color: black;
}

div.colorpicker-alpha{
    visibility: hidden;
}



a.git, a:link {
    transition: all 0.3s ease;
}

.icons {
  position: fixed;
  top: 3vh;
  left: 5vw;
}


/*http://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
a.git:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 50%;
  left: 25%;
  background-color: #a9dbe2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.git:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform: scaleY(100);
  transform: scaleY(400);
}

a.mail:before {
  content: "";
  position: absolute;

  width: 40%;
  height: 2px;
  bottom: -20vw;
  left: 0;
  background-color: #a9dbe2;
  visibility: hidden;
  -webkit-transform: scaleX(3);
  transform: scaleX(3);
  -webkit-transform: scaleY(10);
  transform: scaleY(10);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.mail:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(3);
  transform: scaleX(3);
  -webkit-transform: scaleY(100);
  transform: scaleY(100);
}

a.react:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 50%;
    left: 25%;
    background-color: #a9dbe2;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}

a.react:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform: scaleY(100);
    transform: scaleY(100);
}



a.git:hover, a:hover {
    font-size: 1.7em;
    text-decoration: none;

}


svg {
    margin-left: 50px;
}

section {
    height: 300px;
    width: auto;
}

span.high {
    transition: color 1.5s;
    -webkit-transition: color 1.5s;

}

span.high:hover{
    color: whitesmoke;
}


canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  position: fixed;
  width: 67vw;
  height: 110%;
  top: -5vh;
  right: 0;

  background-color: #7f88d2;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.left-panel {
    width: 33vw !important;
    height: 1000px;
    left: 0;
    position: fixed;
    background-color: whitesmoke;
}
