body {
    font-family: 'Roboto',sans-serif;
}


path.line {
  fill: red;
  stroke: black;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

section#contact {
    /*width: auto;
    height: auto;
    margin: 0 auto;*/
    position: fixed !important;
}

svg {
    background-color: lightgrey;
    stroke: lightgrey;
    stroke-width: 1px;
}

button {
    margin: 3px;
    padding: 3px;
}

button.anim {
    color: red;
}

div.blank {
    width: auto;
    height: 50px;
}
