.thumbnail{
    color: red;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 12px solid #6e1313;
    border-radius: 0px;
    -webkit-transition: transform .3s, border .3s ease-in-out;
    -o-transition: transform .3s, border .3s ease-in-out;
    transition:transform .3s,  border .3s ease-in-out;
    box-shadow: 3px 3px 2px #d9d9d9;
    z-index: 1;
}


.thumbnail:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.description {
    z-index: 999;
}
