
/*Font sizing*/
h2 { font-size: 1.2em !important;}
h4 { font-size: .8em !important;}
h6 { font-size: .7em !important;}

/*padding between sections*/
section {
    height: 60vh;
    margin-top: 40vh;
    margin-bottom: 10vh;
}


/*Map background color*/
div#map > svg , div#map2 > svg  { background-color: lightgrey; }




/*Median income map*/
.q0-17 { fill:rgb(247,251,255) !important; }
.q1-17 { fill:rgb(222,235,247) !important; }
.q2-17 { fill:rgb(198,219,239) !important; }
.q3-17 { fill:rgb(158,202,225) !important; }
.q4-17 { fill:rgb(107,174,214) !important; }
.q5-17 { fill:rgb(66,146,198) !important; }
.q6-17 { fill:rgb(33,113,181) !important; }
.q7-17 { fill:rgb(8,81,156) !important; }
.q8-17 { fill:rgb(8,48,107) !important; }


/*Water use map*/
.q0-9 { fill:rgb(247,251,255) !important; }
.q1-9 { fill:rgb(222,235,247) !important; }
.q2-9 { fill:rgb(198,219,239) !important; }
.q3-9 { fill:rgb(158,202,225) !important; }
.q4-9 { fill:rgb(107,174,214) !important; }
.q5-9 { fill:rgb(66,146,198) !important; }
.q6-9 { fill:rgb(33,113,181) !important; }
.q7-9 { fill:rgb(8,81,156) !important; }
.q8-9 { fill:rgb(8,48,107) !important; }

.counties > path {
    fill:none;
    stroke: whitesmoke;
    stroke-width: .3px;
}

.selected {
    fill: red !important;
}
